<div class="hero">
  <h1></h1>
</div>

<div class="form-style-8">
  <h2>Form</h2>
  <form>
    <input type="text" name="field1" placeholder="Full Name" />
    <input type="email" name="field2" placeholder="Email" />
    <input type="text" name="field3" placeholder="Phone Number" />
    <input type="text" name="field4" placeholder="Move in date" />
    <input type="text" name="field5" placeholder="Best time to contact" />
    <label class="address" for="inputAddress">Property Address</label>
      <input type="text" name="field6" placeholder="1234 Main St" />
      <input type="text" name="field7" placeholder="City" />
      <input type="text" name="field8" placeholder="State" />
      <input type="text" name="field9" placeholder="Zip" />


  
    <input type="button" value="Submit" />
  </form>

</div>

<script type="text/javascript">
//auto expand textarea
function adjust_textarea(h) {
    h.style.height = "20px";
    h.style.height = (h.scrollHeight)+"px";
}
</script>

